@media screen and (max-width: 600px){
    .mob-back-drop{
        position: fixed;
        top: 0;
        height: 100vh;
        width: 100vw;
        background-color: white;
        display: none;
        z-index: 9;
    }
    .header{
        height: 50px;
    }
    .logo{
        width: 50%;
        justify-content: flex-start;
        padding-left: 30px;
    }
    .logo img{
        max-width: 150px;
    }
    .mob-menu-tog{
        display: flex;
        background-color: transparent;
        border: none;
        z-index: 10;
    }
    .mob-menu-tog img{
        height: 26px;
    }
    .menu{
        position: fixed;
        width: 0;
        flex-direction: column;
        padding: 100px;
        align-items: center;
        visibility: hidden;
        background-color: white;
        z-index: 11;
    }
    .close-mob-btn{
        margin-top: -80px;
        margin-left: -80px;
    }
    .close-mob-btn button{
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        color: rgb(99, 99, 99);
    }
    .menu-items{
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }
    .menu-item {
        width: 200px;
        margin: 5px 0;
    }
    .account{
        width: 50%;
        justify-content: flex-end;
    }
    .account .signin-btn{
        margin-right: 20px;
    }
    .signin-btn span{
        font-size: 14px;
    }
    .no-wallet-kyc-info{
        font-size: 12px;
    }
    .hero-lending{

    }
    .hl-info{
        padding: 0 30px;
        margin: 30px 0;
        width: 65%;
    }
    .hl-img{
        width: 40%;
    }
    .hl-img img{
        width: 100%;
    }
    .app-logo{
        padding: 30px 0;
    }
    .app-logo img{
        max-width: 50px;
        z-index: -9;
    }
    .promo-heading{
        font-size: 30px;
    }
    .promo-desc{
        font-size: 14px;
        line-height: 18px;
    }
    .promo-cto{
        height: 40px;
        padding: 10px;
        font-weight: 600;
    }
    .promo-cto span{
        font-size: 12px;
    }
    .paytm-services, .bnb-services{
        padding: 30px;
    }
    .paytm-services h2,
    .bnb-services h2{
        font-size: 26px;
    }
    .payment-service{
        width: 80px;
        height: 90px;
    }
    .ps-icon, .bnbs-icon{
        margin-bottom: 6px;
    }
    .ps-icon img,.bnbs-icon img{
        height: 25px;
        width: 25px;
    }
    .ps-type, .ps-name, .ps-aname, .bnbs-aname, .bnbs-name{
        font-size: 12px;
        margin-bottom: 2px;
    }
    .payment-service:nth-child(5),
    .payment-service:nth-child(6){
        display: none;
    }
    .ps-aname img, .bnbs-aname img{
        height: 14px;
        width: 14px;
    }
    .bnb-service{
        height: 90px;
        width: 80px;
    }
    .bnb-service:nth-child(5),
    .bnb-service:nth-child(6),
    .bnb-service:nth-child(7){
        display: none;
    }
    .ppi{
        padding: 40px;
    }
    .ppi > h1{
        font-size: 26px;
    }
    .p-wallet, .ccs{
        margin: 30px 0;
        flex-direction: column-reverse;
        padding: 0;
    }
    .pw-info, .pw-hero-img{
        width: 100%;
    }
    .pw-logo{
        margin: 30px 0;
    }
    .pw-info h1{
        font-size: 28px;
        margin-bottom: 15px;
    }

}

@media screen and (max-width: 420px) {
    .no-wallet-kyc-info{
        padding: 10px 30px;
    }
    .hero-lending{
        margin-bottom: 30px;
    }
    .hl-img{
        display: none;
    }
    .hl-info{
        width: 100%;
    }
    .promo-cto{
        width: 70%;
        display: flex;
        justify-content: center;
    }
    .paytm-services h2,
    .bnb-services h2{
        font-size: 20px;
    }
    .payment-service:nth-child(5){
        display: none;
    }
}
@media screen and (max-width: 390px) {
    .payment-service:nth-child(4),
    .bnb-service:nth-child(4){
        display: none;
    }
}